<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMaX4QdZM_MiUouTYn_OthalOyhBYV6fI</string>
	<key>GCM_SENDER_ID</key>
	<string>1057229849830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtualhelp.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-schools</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-schools.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057229849830:ios:56f63d540491cedd99a727</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-schools-default-rtdb.firebaseio.com</string>
</dict>
</plist>